@"
.env
.env.*
!.env.example

__pycache__/
*.py[cod]
*.pyd
*.pyo
*.so
*.egg-info/
dist/
build/
pip-wheel-metadata/
.pytest_cache/
.coverage
htmlcov/

.venv/
venv/
ENV/
env/

instance/
*.sqlite
*.db

*.log

.DS_Store
Thumbs.db
.vscode/
.idea/

.ipynb_checkpoints/

**/.docker/
"@ | Set-Content .gitignore -Encoding UTF8
